body{
	margin: 0;
	background-color: #373737;
}

#container {
	margin-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

.center-960px{
	padding: 0px 95px 0px 105px;
}
/*                                 HEADER                         */

#Header{
    background-color: #323232;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
 }

#Title{
}

#top-navbar{
    background-color: #222222;
    width: 960px;
}

nav {
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: white;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

/*                                        CONTENT                  */
#Content{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#large-pic{
	background-color: #323232;
    width: 960px;
    height: 360px;
    padding-bottom: 20px; 
}

#central-para{
	background-color: #eeeeee;
	color: #aaaaaa;
	margin: 20px 0px 40px 0px;
}


#gallery{
	color: #aaaaaa;
	margin-top: 10px;
    width: 960px;
}

#gallery-header{
	color: #888888;
}


.flex-container {
    display: flex;
 }
  
.flex-container > div {
    background-color: #fff;
    padding: 10px;
    width: 215px;
    height: 315px;
    border: 1px solid gray;
    margin-right: 5px;
 }

.flex-header{

    background-color: #333;
    width: 215px;
    height: 295px;

}

.flex-footer{
    text-align: center;
    height: 20px;
    width: 215px;
    background-color: #c5c7cc;
    font-size:  15px;
}

#footer{
	background-color: #323232;
	color: aliceblue;
	padding-top: 20px;
	padding-bottom: 30px;
}

.left{
	float: left;
}

.right{
	float: right;
}